name: CI

on:
  push:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Run a multi-line script
        shell: bash
        run: |
          sudo ./commit.bat
        
      - name: Run a multi-line script
        shell: bash
        run: |
          sudo ./acceptance.bat