name: CI

on:
  push:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet: [ '3.1.x', '5.0.x' ]

    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core SDK ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v1.7.2
        with:
          dotnet-version: ${{ matrix.dotnet }}
          
      - name: Commit tests
        shell: bash
        run: ./commit.sh
        
      - name: Automated Acceptance Tests
        shell: bash
        run: ./acceptance.sh
        
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-2

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
        
      - name: Build, tag, and push image to Amazon ECR
        shell: bash
        run: |
          docker tag jeasthamdev-api ${{ steps.login-ecr.outputs.registry }}/jeasthamdev-api:${{ github.sha }}
          docker push ${{ steps.login-ecr.outputs.registry }}/jeasthamdev-api:${{ github.sha }}